@import 'node_modules/newsapps-styles/init-helpers';
@import 'node_modules/newsapps-styles/theme/graphic';

@import 'base';

$blue: #1f78b4;
$green: #33a02c;
$label-width: 14%;

.graphic {
  max-width: 780px;
}

.sa-rankings-graphic {
  padding-bottom: .5em;
}

.form-group {
  margin: 0 0 .625em;
  //background-color: $background-gray;

  label {
    display: inline-block;
    font-size: .875em;
    font-weight: 700;
    margin: 0 0 .357142857em;
  }

  input {
    display: block;
    line-height: 1.4;
    padding: .3125em .625em;
    width: 100%;
  }
}

.tt-menu {
  background-color: rgb(255, 255, 255);
  border: 1px solid $bodytext-black;
  max-height: 225px;
  overflow-y: auto;
  padding: 0;
  width: 100%;
  cursor: pointer;
}

.tt-suggestion {
  border-bottom: 1px solid $bodytext-black;
  display: block;
  margin: 0;
  padding: 1.25em .83em .83em;

  &:last-child {
    border-bottom: transparent;
  }

  p {
    font-size: .75em;
    margin: 0 0 .5em;
  }
}

.tt-cursor {
  background-color: $tribune-teal;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.twitter-typeahead,
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  width: 100%;
}

.results-card {
  //background-color: $background-gray;
  font-weight: 300;
  padding: .5em;

  .results-header {
    padding: .8em 0 .3em;
  }

  .results-title {
    font-family: $base-sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1;
    margin: 0 0 .25em;
    padding: 0;
  }

  .campus {
    font-size: .875em;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: .5em 0;
  }
}

.bar-chart {
  @include clearfix;
  font-size: .75em;
  margin: 1em 0 1.666666667em; // 20px

  .subhead {
    text-align: left;
    font-family: "Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-weight: 300;
    margin: .5em 0 .5em;
    font-size: 1.125rem;
  }

  li {
    font-size: 1rem;

    span {
      color: darken($tribune-teal, 20%);
      font-weight: bold;
    }
  }
}

.chart-row {
  @include clearfix;
}

.row-label {
  float: left;
  font-weight: 700;
  padding: .5em 1em .5em 0;
  text-align: right;
  width: $label-width;
}

.row-bar {
  float: left;
  padding: 0 0 .75em;
  width: 100% - $label-width;
}

.last-row {
  margin: 0;
}

.bar-color {
  background-color: $tribune-teal;
  display: block;
  height: 100%;
  padding: .5em .5em .5em 0;
  text-align: right;

  &.rmeets { background-color: $tribune-teal; }
  &.mmeets { background-color: lighten($tribune-teal, 10%); }
}

.bar-value {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 .125em rgba(0, 0, 0, .4);

  &.outside {
    color: #282828;
    font-weight: 600;
    position: relative;
    left: calc(100% + 12px);
    text-shadow: none;
  }
}

.note {
  font-size: 1em;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #282828;
  padding-bottom: 10px;
}

.footer {
  padding: 0 0 1em 0;
}
