@import 'node_modules/newsapps-styles/init-helpers';
@import 'node_modules/newsapps-styles/theme/graphic';

@import 'base';

form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

svg {
  font: 10px sans-serif;
}

.graphic {
  max-width: 720px;
}

.legend {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin: 5px 0;
    display: block;

    .legend-title {
      text-align: left;
      margin-bottom: 8px;
      font-weight: bold;
      font-size: 90%;
    }

    .legend-scale {
      @include clearfix;

      ul.legend-labels {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;

        li {
          display: block;
          float: left;
          width: 62px;
          margin-bottom: 6px;
          text-align: center;
          font-size: 75%;
          list-style: none;

          @include media($default-mobile) {
            width: 45px;
          }

          span {
            display: block;
            float: left;
            height: 15px;
            width: 62px;
            margin: 0 0 3px 0;

            @include media($default-mobile) {
              width: 45px;
            }

            &.AL { background: #80b1d3; }
            &.AK { background: #ccebc5; }
      			&.AZ { background: #ffed6f; }
            &.AR { background: #b15928; }
      			&.GA { background: #fdb462; }
      			&.KY { background: #fb8072; }
      			&.LA { background: #fccde5; }
      			&.MS { background: #ffffb3; }
            &.MT { background: #8dd3c7; }
      			&.NM { background: #bc80bd; }
      			&.ND { background: #d9d9d9; }
      			&.SD { background: #bebada; }
      			&.TX { background: #b3de69; }
      			&.WV { background: #1f78b4; }
          }
        }
      }
    }
  }
