<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ TWO.graphic_title }} | San Antonio Express News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base target='_parent'>
  <!-- build:css styles/main.min.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>

<div class="graphic">
  <h1>{{ TWO.graphic_title }}</h1>
  <p class="subtext">{{ TWO.prose }}</p>

  <div id="graphic-container">

    <div id="line-chart"></div>

  </div>

  <div class="footer">
    <ul>
      {% if TWO.note %}<li><em>Note: {{ TWO.note }}</em></li>{% endif %}
      {% if TWO.source %}<li>Source: {% if TWO.source_url %}<a href="{{ TWO. source_url }}">{{ TWO.source }}</a>{% else %}{{ TWO.source }}{% endif %}</li>{% endif %}
      {% if TWO.credit %}<li>Credit: {{ TWO.credit }}</li>{% endif %}
    </ul>
  </div>
</div>

<!-- build:js scripts/unstable.min.js -->
<script src="/node_modules/pym.js/dist/pym.v1.min.js"></script>
<script src="/node_modules/d3/build/d3.min.js"></script>
<script src="scripts/line-chart.js"></script>
<script src="scripts/unstable.js"></script>
<!-- endbuild -->
</body>
</html>
