@import '~express-news-styleguide/init-base';
@import '~express-news-styleguide/theme/graphic';

@import 'base';

.graphic {
    max-width: 720px;
    margin: 0 auto;
    width: 100%;
    height: 700px;

    main {
        position: relative;
        height: 100%;
        overflow: scroll;

        #graphic-container {
            position: fixed;
        }
    }
}

#prose {
    position: absolute;
    box-sizing: border-box;
    top: 0;
}
