<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ FIVE.graphic_title }} | San Antonio Express News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base target='_parent'>
  <!-- build:css styles/main.min.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>

<div class="graphic">
  <h1>{{ FIVE.graphic_title }}</h1>
  <p class="subtext">{{ FIVE.prose }}</p>

  <div id="graphic-container">

    <div class="legend">
        <div class="legend-title">U.S. states</div>
        <div class="legend-scale">
          <ul class="legend-labels">
            <li><span class="AL"></span>AL</li>
            <li><span class="AK"></span>AK</li>
            <li><span class="AZ"></span>AZ</li>
            <li><span class="AR"></span>AR</li>
            <li><span class="GA"></span>GA</li>
            <li><span class="KY"></span>KY</li>
            <li><span class="LA"></span>LA</li>
            <li><span class="MS"></span>MS</li>
            <li><span class="MT"></span>MT</li>
            <li><span class="NM"></span>NM</li>
            <li><span class="ND"></span>ND</li>
            <li><span class="SD"></span>SD</li>
            <li><span class="TX"></span>TX</li>
            <li><span class="WV"></span>WV</li>
          </ul>
        </div>
      </div>

    <div id="treemap"></div>

  </div>

  <div class="footer">
    <ul>
      {% if FIVE.source %}<li>Source: {% if FIVE.source_url %}<a href="{{ FIVE. source_url }}">{{ FIVE.source }}</a>{% else %}{{ FIVE.source }}{% endif %}</li>{% endif %}
      {% if FIVE.credit %}<li>Credit: {{ FIVE.credit }}</li>{% endif %}
    </ul>
  </div>
</div>

<!-- build:js scripts/main.min.js -->
<script src="/node_modules/pym.js/dist/pym.v1.min.js"></script>
<script src="/node_modules/d3/build/d3.min.js"></script>
<script src="scripts/treemap.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
