<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ META.graphic_title }} | San Antonio Express News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base target='_parent'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- build:css styles/main.min.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>

<div class="graphic">
  <h1>{{ META.graphic_title }}</h1>
  <p class="subtext">{{ META.prose }}</p>

  <div id="graphic-container">

    {% import "includes/candidate.html" as country_card %}

    {{ country_card.build(CANDIDATES, 'OneSA', 0, 181270) }}
    {{ country_card.build(CANDIDATES, 'Ivy Taylor', 0, 72675) }}
    {{ country_card.build(CANDIDATES, 'Ronald Nirenberg', 0, 15655) }}
    {{ country_card.build(CANDIDATES, 'Rebecca Viagran', 0, 13675) }}
    {{ country_card.build(CANDIDATES, 'Roberto Trevino', 0, 6950) }}
    {{ country_card.build(CANDIDATES, 'Cris Medina', 0, 8600) }}
    {{ country_card.build(CANDIDATES, 'Joseph Cortez', 0, 6249) }}
    {{ country_card.build(CANDIDATES, 'Marco Barros', 0, 6850) }}

  </div>

  <div class="footer">
    <ul>
      {% if META.source %}<li>Source: {% if META.source_url %}<a href="{{ META. source_url }}">{{ META.source }}</a>{% else %}{{ META.source }}{% endif %}</li>{% endif %}
      {% if META.credit %}<li>Credit: {{ META.credit }}</li>{% endif %}
    </ul>
  </div>
</div>

<!-- build:js scripts/main.min.js -->
<script src="/node_modules/pym.js/dist/pym.v1.min.js"></script>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
