@import '~express-news-styleguide/init-base';
@import '~express-news-styleguide/theme/graphic';

@import 'base';

div.graphic {
    hr.border-top {
        border: 0;
        width: 100%;
        height: 12px;
        box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    }

    div.footer {
        hr.border-bottom {
            border: 0;
            height: 1px;
            background: #333;
            background-image: linear-gradient(to right, #ccc, #333, #ccc);
        }
    }
}

.bar-chart {
    @include clearfix;
    font-size: .75em;
    margin: 1.666666667em 0;
}
