<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ META.graphic_title }} | San Antonio Express News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base target='_parent'>
  <!-- build:css styles/main.min.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>

<div class="graphic">
  <h1>{{ META.graphic_title }}</h1>
  <p class="subtext">{{ META.prose }}</p>

  <div id="graphic-container">

    <div class="lookup sa-rankings-graphic">
      <div class="form-group">
        <label for="search">Search for a Bexar county school campus to compare STAAR results for 2017, 2016 and 2015.</label>
        <input id="search" class="typeahead" type="text" placeholder="E.g. Hardy Oak El">
      </div>

      <div class="results-card">
        <div class="results-header">
          <h2 class="results-title"><span id="campus"></span></h2>
        </div>

        <div class="bar-chart">
          <div class="chart-row">
            <div class="row-label">Masters</div>
            <div class="row-bar">
              <span id="masters" class="bar-color masters">
                <span class="bar-value"></span>
              </span>
            </div>
          </div>
          <div class="chart-row">
            <div class="row-label">Meets</div>
            <div class="row-bar">
              <span id="meets" class="bar-color meets">
                <span class="bar-value"></span>
              </span>
            </div>
          </div>
          <div class="chart-row">
            <div class="row-label">Approaches</div>
            <div class="row-bar">
              <span id="approaches" class="bar-color approaches">
                <span class="bar-value"></span>
              </span>
            </div>
          </div>
          <div class="chart-row">
            <div class="row-label">Not meet</div>
            <div class="row-bar">
              <span id="notmeet" class="bar-color not-meet">
                <span class="bar-value"></span>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="footer">
    <ul>
      {% if META.source %}<li>Source: {% if META.source_url %}<a href="{{ META. source_url }}">{{ META.source }}</a>{% else %}{{ META.source }}{% endif %}</li>{% endif %}
      {% if META.credit %}<li>Credit: {{ META.credit }}</li>{% endif %}
    </ul>
  </div>
</div>

<!-- build:js scripts/main.min.js -->
<script src="/node_modules/pym.js/dist/pym.v1.min.js"></script>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/typeahead.js/dist/typeahead.bundle.js"></script>
<script src="/node_modules/lodash/lodash.min.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
