<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ META.graphic_title }} | San Antonio Express News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base target='_parent'>
  <!-- build:css styles/main.min.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>

<div class="graphic">
  <h1>{{ META.graphic_title }}</h1>
  <p class="subtext">{{ META.prose }}</p>

  <div id="graphic-container">

    <div class="lookup sa-rankings-graphic">
      <div class="form-group">
        <label for="search">{{ META.instructions }}</label>
        <input id="search" class="typeahead" type="text" placeholder="E.g. Judson Middle">
      </div>
    </div>
    <div class="results-card">
      <div class="results-header">
        <h2 class="results-title"><span id="name"></span></h2>
      </div>
      <div class="charts">
        <ul>
          <li class="subtext">Number of economically disadvantaged students: <span id="ecodis" class="number"></span>%</li>
          <li class="subtext" id="district-score">District: <span id="district"></span> scored <span id="score" class="number"></span> out of <span class="number">100</span></li>
        </ul>
        <div id="overall">
          <div class="chart"></div>
          <p class="subtext">Overall score</p>
          <hr>
        </div>
        <div id="achievement">
          <div class="chart"></div>
          <p class="subtext">Student achievement score</p>
          <hr>
        </div>
        <div id="growth">
          <div class="chart"></div>
          <p class="subtext">Overall score</p>
          <hr>
        </div>
        <div id="relative">
          <div class="chart"></div>
          <p class="subtext">Overall score</p>
          <hr>
        </div>
        <div id="gaps">
          <div class="chart"></div>
          <p class="subtext">Overall score</p>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <ul>
      {% if META.source %}<li>Source: {% if META.source_url %}<a href="{{ META. source_url }}">{{ META.source }}</a>{% else %}{{ META.source }}{% endif %}</li>{% endif %}
      {% if META.credit %}<li>Credit: {{ META.credit }}</li>{% endif %}
    </ul>
  </div>
</div>

<!-- build:js scripts/main.min.js -->
<script src="/node_modules/pym.js/dist/pym.v1.min.js"></script>
<script src="/node_modules/d3/dist/d3.min.js"></script>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/typeahead.js/dist/typeahead.bundle.js"></script>
<script src="/node_modules/lodash/lodash.min.js"></script>
<script src="scripts/draw-donuts.js"></script>
<script src="scripts/search.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
