@import 'node_modules/newsapps-styles/init-helpers';
@import 'node_modules/newsapps-styles/theme/graphic';

@import 'base';

.graphic {
	max-width: 720px;
}

#radial {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.legend {
	fill: none;
	stroke: none;
	font-size: 2.4em;
	font-family: georgia, sans-serif;
	font-weight: normal;

	.header {
		fill: #000;
		font-size: 0.7em;
	}

	.desc {
		font-size: 0.6em;
		fill: rgb(51, 51, 51);
	}
}