@import 'node_modules/newsapps-styles/init-helpers';
@import 'node_modules/newsapps-styles/theme/graphic';

@import 'base';

$blue: #1f78b4;
$green: #33a02c;
$label-width: 14%;

.graphic {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.sa-rankings-graphic {
  padding-bottom: .5em;

  &.table {
    padding-top: 1.5em;
    width: 100%;
  }
}

.form-group {
  margin: 0 0 .625em;
  //background-color: $background-gray;

  label {
    display: inline-block;
    font-size: .875em;
    font-weight: 700;
    margin: 0 0 .357142857em;
  }

  span.twitter-typeahead { 
    width: 100%;

    div.tt-menu {
      z-index: 1000;
      width: 100%;

      div.tt-dataset {
        z-index: 1000;
        background: #FDFDFD;

        div.tt-suggestion {
          z-index: 1000;
          cursor: pointer;

          &:hover, &.tt-cursor {
            background: rgba(145,191,219,0.2);
          }
        }
      }
    }
  }

  input {
    display: block;
    line-height: 1.4;
    padding: .3125em .625em;
    width: 100%;
  }
}

div.results-header {
    h2.results-title {
        font-weight: bold;
        font-size: 1.2em;
    }
}

div.meta {
    li span.number {
      font-weight: bold;
    }
}

div.charts {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;

    div {
        width: 49%;
        display: inline-block;

        p.subtext {
          text-align: center;
          font-weight: 500;

          &.small {
            font-size: 0.8rem;
            font-weight: normal;
          }
        }

        hr {
          border: 0;
          height: 1px;
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
          width: 10%;
        }

        div.chart {
          width: 100%;
          text-align: center;
        }

        &#overall {
            width: 100%;
        }

        @include media($default-mobile) {
          width: 100%;
        }
    }
}

table#school-table {
    width: 100%;
    padding-top: 1em;
}

div.dataTables_wrapper {
    width: 100%;
    padding-top: 2em;
}

