@import 'node_modules/newsapps-styles/init-helpers';
@import 'node_modules/newsapps-styles/theme/graphic';

@import 'base';

div#line-chart {
	svg {
		.axis--x path {
		 	display: none;
		}

		.line {
			fill: none;
			stroke: steelblue;
			stroke-width: 1.5px;
		}

		.legend {
			fill: none;
			stroke: none;

			.header {
				fill: #000;
				font-size: 0.9em;
			}

			.desc {
				font-size: 0.7em;
				fill: rgb(51, 51, 51);
			}
		}
	}
}