@import '~express-news-styleguide/init-base';
@import '~express-news-styleguide/theme/graphic';

@import 'base';

div.graphic {
    max-width: 1200px;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

fieldset {
    border: none !important;
}
