{% macro build(data, max) %}
<div class="bar-chart">
  {% for row in data %}
  <div class="chart-row">
    <div class="row-label">{{ row.name }}{% if row.title != 'none' %}, {{ row.title }}{% endif %}</div>
    <div class="row-bar{% if loop.last %} last-row{% endif %}">
      <span class="bar-color" style="width: {{ (+row.value / max) * 100 }}%">
        <span class="bar-value {% if row.value < 100000000 %}outside{% endif %}">${{ row.value|comma }}</span>
      </span>
    </div>
  </div>
  {% endfor %}
</div>
{% endmacro %}

