@import '~express-news-styleguide/init-base';
@import '~express-news-styleguide/theme/graphic';

@import 'base';

div.graphic {
    max-width: 960px;

    a {
        color: $en-red;
    }
}

svg.map {
    width: 100%;
    max-width: 960px;
    height: auto;
    margin: 0 auto;
}
