<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ META.graphic_title }} | San Antonio Express News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base target='_parent'>
  <!-- build:css styles/main.min.css -->
  <link rel="stylesheet" href="styles/mapbox.3.0.1.css">
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>

<div class="graphic">
  <h1>{{ META.graphic_title }}</h1>
  <p class="subtext">{{ META.prose }}</p>

  <div id="graphic-container">

    <h2>{{ META.title_interactive_map }}</h2>
    <p class="subtext">{{ META.prose_interactive_map }}</p>

    <div class="interactive-well-map">
      <div class="form-group">
        <label for="search">Enter a San Antonio address</label>
        <input id="search" class="typeahead" type="text" placeholder="E.g. 555 Fake St., San Antonio">
      </div>

      <div class="legend">
        <div class="legend-title">Median area rent</div>
        <div class="legend-scale">
          <ul class="legend-labels">
            <li><span class="one"></span>< $730</li>
            <li><span class="five"></span></li>
            <li><span class="ten"></span></li>
            <li><span class="thirty"></span></li>
            <li><span class="thirty-one-plus"></span>> $1203</li>
          </ul>
        </div>
      </div>

      <div id="interactive-well-map"></div>
    </div>

  </div>

  <div class="footer">
    <ul>
      {% if META.source %}<li>Source: {% if META.source_url %}<a href="{{ META. source_url }}">{{ META.source }}</a>{% else %}{{ META.source }}{% endif %}</li>{% endif %}
      {% if META.credit %}<li>Credit: {{ META.credit }}</li>{% endif %}
    </ul>
  </div>
</div>

<!-- build:js scripts/main.min.js -->
<script src="/node_modules/pym.js/dist/pym.v1.min.js"></script>
<script src="/node_modules/d3/build/d3.min.js"></script>
<script src="/node_modules/lodash/lodash.min.js"></script>
<script src="scripts/mapbox.3.0.1.min.js"></script>
<script src="scripts/get-data.js"></script>
<script src="scripts/interactive-map.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
