<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ DD_META.graphic_title }} | San Antonio Express News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base target='_parent'>
  <!-- build:css styles/main.min.css -->
  <link rel="stylesheet" href="styles/mapbox.3.0.1.css">
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>

<div class="graphic">
  <h1>{{ DD_META.graphic_title }}</h1>
  <p class="subtext">{{ DD_META.prose }}</p>

  <div id="graphic-container">

    <h2>{{ DD_META.title_interactive_map }}</h2>
    <p class="subtext">{{ DD_META.prose_interactive_map }}</p>

    <div class="interactive-map">
      <div id="interactive-map"></div>
    </div>

  </div>

  <div class="footer">
    <ul>
      {% if DD_META.source %}<li>Source: {% if DD_META.source_url %}<a href="{{ DD_META. source_url }}">{{ DD_META.source }}</a>{% else %}{{ DD_META.source }}{% endif %}</li>{% endif %}
      {% if DD_META.credit %}<li>Credit: {{ DD_META.credit }}</li>{% endif %}
    </ul>
  </div>
</div>

<!-- build:js scripts/main.min.js -->
<script src="/node_modules/pym.js/dist/pym.v1.min.js"></script>
<script src="/node_modules/d3/build/d3.min.js"></script>
<script src="/node_modules/lodash/lodash.min.js"></script>
<script src="scripts/mapbox.3.0.1.min.js"></script>
<script src="scripts/get-data.js"></script>
<script src="scripts/interactive-map.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
